.about {
    display: flex;

    .profile-pic {
        position: fixed;
        width: 30%; 
        height: 100%;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;

        .background-rectangle {
            position: fixed;
            width: 20%;
            height: 55%;
            background-color: $cerulean;
            z-index: 1;
        }
    }
    
    .profile-pic img {
        margin: auto;
        max-width: 90%;
        height: auto;
        border-radius: 50%;
        z-index: 2;
    }

    .bio {
        margin-left: 30%;
        padding: 2em 3em 3em;
        font-size: 2rem;

        a {
            color: $cerulean;
            text-decoration: none;
        }

        li {
            margin-bottom: 0.5em; 
        }

        li:last-child {
            margin-bottom: 0;
        }
    }
}