.about {
    .about-header {
        display: flex;
        justify-content: left;
        align-items: end;
        text-align: left;
        margin: auto;
        min-height: calc(100vh - 3.4rem);
        font-family: $headerFont;
        font-size: 20rem;
        background-color: $parchment;

        p {
            line-height: 75%;
            margin: 0;
        }
    }

    .bio {
        display: flex;
        justify-content: center;
        margin: auto;
        width: 75%;
        flex-direction: column;
        height: 100vh;

        .content {
            margin: auto;
            margin-bottom: 0;

            h2 {
                line-height: 1.9rem;
                font-family: $titleFont;
                font-size: 3rem;
                letter-spacing: 0.1em;
                color: $parchment;
                background-color: $cerulean;
                padding-left: 0.5em;
                padding-top: 1em;
            }
    
            a {
                color: $cerulean;
                text-decoration: none;
            }
    
            h3 {
                font-size: 2.5rem;
            }
    
            p {
                font-size: 2rem;
            }
    
            li {
                font-size: 2rem;
                margin-bottom: 0.5em; 
            }
    
            li:last-child {
                margin-bottom: 0;
            }
        }
    
        .footer {
            display: flex;
            justify-content: center;
            margin-bottom: auto;
            width: 75%;
            flex-direction: column;
            text-align: center;
            font-size: 2rem;
            margin: auto;
    
            p {
                margin-top: 0;
            }
            
            a {
                color: $cerulean;
                text-decoration: none;
            }
        }
    }
}