.about {
    display: flex;

    .profile-pic {
        display: flex;
        position: fixed;
        width: 40%;
        height: 100vh;
        align-items: center;

        @media (max-width: 1000px) {
            width: 0%;

            img {
                display: none;
            }

            .anchor {
                display: none;
            }
        }

        img {
            margin: auto;
            width: 75%;
            height: auto;
            border-radius: 50%;
            z-index: 2;
        }

        .anchor {
            position: fixed;
            width: 25%;
            height: 65%;
            background-color: $cerulean;
            z-index: 1;
        }
    }

    .bio {
        width: 60%;
        margin-left: 40%;
        padding: 4rem 3rem;
        font-size: 1.8rem;
        font-family: $bodyFont;
        color: $bistre;

        @media (max-width: 1000px) {
            width: 100%;
            margin-left: 0;
            padding: 5rem;
        }

        a {
            color: $cerulean;
            text-decoration: none;
        }

        li {
            margin-bottom: 0.5rem; 
        }

        li:last-child {
            margin-bottom: 0;
        }
    }
}