article.post {
  background-color: $chiffon;
  min-height: 100vh;
  color: $bistre;

  .post-header {
    display: flex;
    width: 100%;
    background-color: $parchment;
    margin-top: 3rem;

    .post-thumbnail {
      display: flex;

      img {
        margin: 0;
        width: calc(25vw - 2rem);
        padding: 1rem;
      }

      @media (max-width: 1200px) {
        width: 0%;

        img {
          display: none;
        }
      }
    }

    .post-description {
      text-align: left;
      align-self: flex-end;
      width: 75%;

      h1 {
        font-size: 5rem;
        font-family: $headerFont;
        margin: 0;
      }
  
      p {
        font-size: 1.5rem;
        font-family: $bodyFont;
        margin: 0;
      }

      @media (max-width: 1200px) {
        width: 100%;
        text-align: center;
        margin-top: 1rem;
      }
    }
  }

  .post-content {
    width: 50%;
    margin: auto;
    font-size: 1.25rem;
    line-height: 2;
    font-family: $bodyFont;
    padding-bottom: 3rem;

    a {
      text-decoration: none;
    }

    img {
      display: block;
      margin: auto;
      max-width: 75%;
    }

    img + em {
      display: block;
      text-align: center;
      font-size: 1rem;
    }
    
    code {
      display: block;
      background-color: $parchment;
      padding: 15px;
      margin: 10px 0;
      border-radius: 5px;
      overflow-x: auto;
      font-family: 'Inconsolata', sans-serif;
    }

    // Math blocks
    p:only-child > .MathJax {
      padding: 40px;
    }
  }
}
