article.post {
  background-color: $chiffon;
  min-height: 100vh;

  .post-header {
    display: flex;
    width: 100%;
    background-color: $parchment;

    .post-details {
      display: flex;
      margin-top: 5rem;
      margin-bottom: 2rem;
      width: 60%;
      margin-left: 20%;
      margin-right: 20%;

      .post-thumbnail {
        display: flex;
        width: 50%;

        img {
          margin: 0;
          width: auto;
          height: auto;
          max-height: 60vh;
          max-width: 100%;
        }

        @media (max-width: 900px) {
          width: 0%;

          img {
            display: none;
          }
        }
      }

      .post-description {
        align-self: flex-end;
        text-align: left;
        margin-left: 2rem;
        min-width: 50%;

        h1 {
          margin-top: 0;
          margin-bottom: 1rem;
          font-size: 3rem;
          font-family: $headerFont;
        }
    
        p {
          margin: 0;
          font-size: 1.8rem;
        }
      }
    }
  }

  .post-content {
    width: 50%;
    margin: auto;
    font-size: 1.25rem;
    line-height: 2;
    padding: 0.5em 3em 1em 3rem;

    a {
      text-decoration: none;
    }

    img {
      display: block;
      margin: auto;
      max-width: 75%;
    }

    img + em {
      display: block;
      text-align: center;
      font-size: 1rem;
    }
    
    code {
      display: block;
      background-color: $parchment;
      padding: 15px;
      margin: 10px 0;
      border-radius: 5px;
      overflow-x: auto;
      font-family: 'Inconsolata', sans-serif;
    }

    // Math blocks
    p:only-child > .MathJax {
      padding: 40px;
    }
  }
}
