body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: $parchment;
}

html {
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: none;
  }
}

header {
  position: absolute;
  inset: 0 0 auto 0;
  z-index: 1000;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;

  li a {
    display: block;
    padding: 0.8em 1rem;
    color: $bistre;
    text-align: center;
    text-decoration: none;
    font-family: $headerFont;
    font-size: 1.7rem;

    &:hover {
      color: $parchment;
      background-color: $tangerine;
    }
  }
}
