body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--background);
}

html {
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: none;
  }
}

header {
  position: absolute;
  inset: 0 0 auto 0;
  z-index: 1000;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;

  li a {
    display: block;
    padding: 0.8em 1rem;
    color: var(--text);
    text-align: center;
    text-decoration: none;
    font-family: $headerFont;
    font-size: 1.7rem;

    &:hover {
      color: var(--background);
      background-color: var(--accent);
    }
  }

  li button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8em 1rem;
    color: var(--text);
    background: none;
    border: none;
    cursor: pointer;
    height: 100%;

    .material-symbols-outlined {
      font-variation-settings: 'FILL' 1;
      font-size: 1.7rem;
      line-height: 1;
      display: flex;
      align-items: center;
    }

    .material-symbols-outlined:nth-child(1) {
      display: none;
    }

    &:hover {
      color: var(--background);
      background-color: var(--accent);
    }
  }
}

:root.dark .navbar li button {
  .material-symbols-outlined:nth-child(2) {
    display: none;
  }
  
  .material-symbols-outlined:nth-child(1) {
    display: inline-block;
  }
}
