.bio {
    display: flex;
    justify-content: center;
    margin: auto;
    min-height: calc(100vh - 1em);
    
    .content {
        width: 50%;
        margin: auto;
        line-height: 3rem;

        h2 {
            line-height: 1.9rem;
            font-family: $titleFont;
            font-size: 3rem;
            letter-spacing: 0.1em;
            color: $parchment;
            background-color: $cerulean;
            padding-left: 0.5em;
            padding-top: 1em;
        }

        h3 {
            font-size: 2rem;
        }

        p {
            font-size: 1.5rem;
        }

        li {
            font-size: 1.5rem;
        }
    }
}