.cv {
    display: flex;
    justify-content: center;
    margin: auto;
    min-height: calc(100vh - 1em);
    
    .content {
        width: 60%;
        font-size: 1.5rem;
        margin: auto;
    }

    h2 {
        padding: 0.2em;
        padding-left: 0.8em;
        color: $parchment;
        background-color: $cerulean;
    }
}