.cv {
    .content {
        display: flex;
        justify-content: center;
        margin: auto;
        margin-top: 3.5rem;
        padding-bottom: 3.5rem;
        width: 75%;
        flex-direction: column;
        min-height: calc(100vh);
        font-family: $bodyFont;

        a {
            color: $cerulean;
            text-decoration: none;
        }

        h2 {
            font-size: 3rem;
            margin-bottom: 0;
        }

        h3 {
            font-size: 2rem;
            margin-bottom: 0;
        }

        h4 {
            font-size: 1.4rem;
            margin-bottom: 0;
        }

        h5 {
            font-size: 1.4rem;
            font-weight: normal;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.4rem;
            line-height: 2.5rem;
            margin-bottom: 1rem;
        }

        li {
            font-size: 2rem;
        }
    }
}