.landing {
    display: flex;
    justify-content: center;
    align-items: bottom;
    background-color: #B1AF9B;
    margin: 0;
    padding: 0;

    img {
        margin: 0;
        width: 100%;
        height: auto;
    }
}

#posts {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    max-width: 80%;
    margin: 0 auto;
    min-height: calc(100vh - 1em);
}
  
.post-widget {
    margin: 2%;
    background-color: $parchment;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $bistre;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.02);
        transition: all 0.3s ease;
        background-color: $pine;
    }

    @media (min-width: 0px) {
        width: 100%;
    }
    
    @media (min-width: 600px) {
        width: 45%;
    }

    @media (min-width: 1000px) {
        width: 29%;
    }

    a {
        text-decoration: none;
        width: 100%
    }

    a:any-link {
        color: $bistre;
        transition: all 0.3s ease;
        
        &:hover {
            color: $parchment;
            transition: all 0.3s ease;
        }
    }

    img {
        display: block;
        width: 100%;
        height: auto;
    }

    .post-info {
        text-align: left;
        font-size: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        font-family: $bodyFont;

        h2 {
            margin: 0;
            padding: 0;
            font-size: 1.3rem;
            font-weight: 700;
            font-family: $headerFont;
        }
    }
}