.posts-list {
  list-style-type: none;
  padding: 4.7em 1rem;
  width: 80%;
  margin: auto;

  li {
    border-top: 1px solid var(--text);
    display: flex;
    align-items: center;
    
    a {
      width: 100%;
      padding: 1em 0;
      text-decoration: none;
      color: var(--text);
    }

    .posts-list-entry {
      display: flex; 
      align-items: center; 
      font-family: $headerFont;
      margin: 0;

      h2 {
        margin: 0 2rem;
        width: 65%;
      }

      p {
        margin: 0 2rem 0 1rem;
        text-align: right;
        width: 10%;
        font-family: $bodyFont;
      }

      .post-tag {
        width: 25%;
        text-align: right;

        h3 {
          font-size: 1rem;
          font-weight: normal;
          padding: 0.2rem 1rem;
          display: inline-block;
          text-align: center;
          width: auto;
          font-family: $bodyFont;
          border: 1px solid var(--text);
          border-radius: 2rem;
        }
      }
    }

    &:hover {
      background-color: var(--accent);
      color: var(--background);

      a {
        color: var(--background);

        .posts-list-entry .post-tag h3 {
          border-color: var(--background);
        }
      }
    }

    &:last-child {
      border-bottom: 1px solid var(--text);
    }
  } 
}