.posts-list {
    list-style-type: none;
    padding: 4.2em 1rem;
    width: 80%;
    margin: auto;
  
    li {
      border-top: 1px solid $bistre;
      display: flex;
      align-items: center;

      &:hover {
        background-color: $tangerine;
        color: $parchment;

        a {
          text-decoration: none;
          color: $parchment;
        }
      }

      a {
        width: 100%;
        padding: 2em 0;
      }
  
      .posts-list-entry {
        display: flex; 
        align-items: center; 
        justify-content: space-between;
        font-family: $headerFont;

        h2, p {
          margin: 0;
          padding: 0 0.8rem;
        }

        p {
          font-family: $bodyFont;
        }
      }

      a {
        text-decoration: none;
        color: $bistre;
      }
    } 

    li:last-child {
      border-top: 1px solid $bistre;
      border-bottom: 1px solid $bistre;
    }
  }