$titleFont: 'Cormorant Garamond', serif;
$headerFont: 'Literata', serif;
$bodyFont: 'Zodiak', serif;

$backgroundColor: #283618;
$lightBackgroundColor: #F1E9D2;
$foregroundColor: #FFF8E7;
$foregroundHighlightColor: #E3DAC9;
$accentColor: #FDC500; 
$accentHighlightColor: #FFE169;
$bodyColor: #3D2B1F;
$bodyHighlightColor: #555555;