$headerFont: 'Erode', serif;
$bodyFont: 'Sentient', serif;

:root {
  --text: #3d2b1f;
  --background: #f1e9d2;
  --surface: #fff5e6;
  --accent: #f04a00;
  --link: #0093AF;
}

.dark {
  --text: #fff2e4;
  --background: #162114;
  --surface: #172911;
  --accent: #ffd800;
  --link: #f09800;
}