$titleFont: 'Cormorant Garamond', serif;
$headerFont: 'Erode', serif;
$bodyFont: 'Recia', serif;

$textColor: #3D2B1F;
$textShadeColor: #555555;
$backgroundColor: #F1E9D2;
$foregroundColor: #FFF8E7;
$foregroundShadeColor: #E2DCCA;
$white: #F5F5F5;
$primaryColor: #283618;
$secondaryColor: #4E878C;
$accentColor: #FDC500; 
$accentShadeColor: #FFE169;