@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700;700i&family=Space+Mono:wght@400;400i&display=swap');

$backgroundColor: #2b4831;
$bodyColor: #000000;
$bodyFont: 'Space Mono', monospace;
$titleFont: 'Cormorant Garamond', serif;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  text-align: center;
  font-size: 4em; 
  color: #e6ba0b;
  font-family: $titleFont;
  font-weight: 700;
  font-style: italic;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2b4831;
  width: 100%; 
  top: 0;
  z-index: 100; 
  display: flex;
  justify-content: center;
}

.navbar li {
  float: none;
}

.navbar li a {
  display: block;
  color: #e6ba0b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  color: #f0e2a8;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

body, html {
  margin: 0;
  padding: 0;
}

#posts {
  display: flex;
  justify-content: center;
  background-color: #91471d;
}

.post-widget {
  margin: 30px;
  width: 200px;
  width: calc(100% - 60px);
  background-color: #efeae4;
  border-radius: 15px;
  overflow: hidden;
  display: flex; 
  flex-direction: column;
  
  @media (min-width: 800px) {
    width: calc(50% - 60px);
  }

  @media (min-width: 1200px) {
    width: calc(33.33% - 60px); 
  }

  a {
    text-decoration: none;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  .post-info {
    text-align: left;
    font-size: 1em;
    color: #414224;
    padding-left: 20px;
    font-family: $bodyFont;
  }
}

.post-content {
  background-color: #efeae4;
  max-width: 60rem;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
