<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <link href="https://api.fontshare.com/v2/css?f[]=sentient@300,400,500&f[]=erode@600&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }}{% else %}keaton elvins{% endif %}</title>
    <meta name="description" content="personal website of keaton elvins">
    <meta name="keywords" content="keaton elvins, camfer, UC Berkeley, YCombinator">
    <meta name="author" content="keaton elvins">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,1,0&symbol=light_mode;dark_mode" >
    <link rel="icon" type="image/png" sizes="128x128" href="{{ "/assets/art/favicon-128x128.png" | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/art/favicon-32x32.png" | relative_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/art/apple-touch-icon.png" | relative_url }}">
    {% seo %}
  </head>
  <body>
    <header>
      <nav>
        <ul class="navbar">
            <li><a href="{{ site.baseurl | default: "/"}}">home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/posts">index</a></li>
            <li><button id="theme-toggle" aria-label="Toggle theme">
              <span class="material-symbols-outlined">light_mode</span>
              <span class="material-symbols-outlined">dark_mode</span>
            </button></li>
        </ul>
      </nav>
    </header>
    {{ content }}
    <script>
      const theme = localStorage.getItem('theme') || 'dark';
      document.documentElement.classList.toggle('dark', theme === 'dark');

      document.getElementById('theme-toggle').addEventListener('click', () => {
        const isDark = document.documentElement.classList.toggle('dark');
        localStorage.setItem('theme', isDark ? 'dark' : 'light');
      });
    </script>
  </body>
</html>