<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <link href="https://api.fontshare.com/v2/css?f[]=recia@600,401,400&f[]=erode@600&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
    <nav>
      <ul class="navbar">
          <li><a href="{{ site.baseurl | default: "/"}}">home</a></li>
          <li><a href="/about">about</a></li>
          <li><a href="/cv">cv</a></li>
          <li><a href="/posts">index</a></li>
      </ul>
    </nav>
    {{ content }}
  </body>
</html>